.game {
	background-color: white;
	border: black solid;
	height: auto;
	min-height: 7.5em;
	margin-bottom: 1em;
	font-size: 1em;

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.platform {
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	background-color: lightGray;
}

a {
	text-decoration: none;
	color: black;
}

.game > p {
	margin: 0 2% 0 2%;
}

.game:hover {
	background-color: lightGray;
}

a:hover {
	text-decoration: none;
}

.game > img {
	float: right;
	width: 6.5em;
	height: 6.5em;
	margin-right: .5em;
	margin-top: -1.125em;
}